<h1>Budget Tracker</h1>

<h2> View, create, update expenses/income/recurring costs of your budget </h2>

<button type="button" onclick="viewAll">Show Budget</button>

<div id="result"></div>

<script type="text/javascript">
function viewAll() {

    //from John G
    // https://stackoverflow.com/questions/6396101/pure-javascript-send-post-data-without-a-form
    var xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function () {
    if (this.readyState != 4) return;

    if (this.status == 200) {
        var data = JSON.parse(this.responseText);

        document.getElementById("result").innerHTML = data;
    }

    // end of state change: it can be after some time (async)
};

    xhr.open('GET', 'localhost:3000/budget', true);
    xhr.send();
}
</script>
